body{
  background-color: white;
}
.Page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonContainer{
  margin-bottom: 100px;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: column;
  display: flex;
  border-radius: ;
  width: 400px;
  height: 600px;
  background-color: white;
  border: 5px solid #C8A008;
}

.Button{
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  font-size: 40px;
  border: none;
  background-color: blue;
  padding: 30px;
  width: 200px;
  cursor: pointer;
}
.Button:hover{
  transform: scale(1.1);
}

.Logo{
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
.Link{
  text-decoration: none;
  color: white;
}
.Back{
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  width: 200px;
  height: 100px;
  background-color: blue;
}
.Upper{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.ButtonContainer2{
  margin-bottom: 100px;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-radius: ;
  width: 60%;
  height: 70%;
  background-color: white;
  border: 5px solid #C8A008;
}


Table{
  padding: 10px;
  width: 1000px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}